<html>
<head>
<title>安装向导 - 海洋CMS</title>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<link href="images/style.css"rel="stylesheet" type="text/css"  />
</head>

<body scroll="no">
<div class="b">
	<div class="main">
		<div class="head">
			<div class="h_right"><a href="//www.seacms.net" target="_blank">官方网站</a><span>|</span><a href="//www.seacms.net" target="_blank">交流论坛</a></div>
			<img src="images/logo.png" />
		</div>
		<div class="cont">
			<div class="c_top"></div>
			<div class="c_c">
				<div class="c_c_left">
					<ul>
						<li class="">1、欢迎界面</li>
						<li class="">2、阅读协议</li>
						<li class="">3、环境检测</li>
						<li class="on">4、参数配置</li>
						<li class="">5、安装完成</li>
					</ul>
				</div>
				<div class="c_c_right">
<form action="index.php" method="post" name="form1">
<input type="hidden" name="step" value="4" />
<div class="content">
	<h2>填写数据库配置和网站配置信息</h2>
<table class="tb">
<tr>
			<th colspan="2">数据库设置</th>
		</tr>

			<tr>
				<td width="90">数据库地址：</td>
				<td><input class="inp" name="dbhost" id="dbhost" type="text" value="127.0.0.1" /><font style="color:#918b8b">数据库地址通常为localhost或127.0.0.1</font></td>
			</tr>
			<tr>
				<td width="90">数据库端口：</td>
				<td><input class="inp" name="dbport" id="dbhost" type="text" value="3306" /><font style="color:#918b8b">数据库端口通常为3306</font></td>
			</tr>
			<tr>
				<td width="90">数据库名称：</td>
				<td>
					<input class="inp" name="dbname" id="dbname" type="text" value="<?php echo $dfDbname; ?>" /><font style="color:#918b8b">数据库名如存在将会被清空</font>
					</td>
			</tr>
			<tr>
				<td width="90">数据库用户：</td>
				<td><input class="inp" name="dbuser" id="dbuser" type="text" value="root"  /><font style="color:#918b8b">数据库用户不建议用root用户</font></td>
			</tr>
			<tr>
				<td width="90">数据库密码：</td>
				<td>
				  <div style='float:left;margin-right:3px;'><input class="inp" name="dbpwd" id="dbpwd" type="text"  /><input class="inp" name="dbprefix" type="hidden" value="sea_" /></div>
				  <div style='float:left' id='dbpwdsta'></div>
				<font style="color:#918b8b">数据库用户的连接密码</font></td>
			</tr>
			
				
				
						
			
			<tr>
				<td width="90">数据库编码：</td>
				<td>
						<input  type="radio" name="dblang" id="dblang_utf8" value="utf8" checked="checked" /><label for="dblang_utf8">UTF8</label>
						<!--<input class="inp" type="radio" name="dblang" id="dblang_latin1" value="latin1" /><label for="dblang_latin1">LATIN1</label>
						<small>仅对4.1+以上版本的MySql选择</small>-->
				</td>
			</tr>
		</table>

		<table class="tb">
		<tr>
			<th colspan="2">管理员设置</th>
		</tr>

			<tr>
				<td width="90">用户名：</td>
				<td>
					<input id="adm_user" class="inp" name="adminuser" type="text" value="admin"  /><font style="color:#918b8b">管理员，请使用英文和数字</font>
				</td>
			</tr>
			<tr>
				<td width="90">密　码：</td>
				<td><input id="adm_pass" class="inp" name="adminpwd" type="text" value="admin"  /><font style="color:#918b8b">后台管理员密码</font></td>
			</tr>
		</table>

		
		<table class="tb">
		<tr>
			<th colspan="2">网站设置</th>
		</tr>

			<tr>
				<td  width="90">网站名称：</td>
				<td>
					<input class="inp" name="webname" type="text"  value="影视大全" />
				<font style="color:#918b8b">请填写您的网站名称</font></td>
			</tr>
			<tr>
				<td  width="90"> 网站网址：</td>
				<td><input class="inp" name="baseurl" type="text" value="<?php echo $baseurl; ?>"  /><font style="color:#918b8b">网站地址，如：http://www.seacms.net</font></td>
			</tr>
			<tr>
				<td  width="90">安装目录：</td>
				<td><input class="inp" name="cmspath" type="text"  value="<?php echo $basepath; ?>" /><font style="color:#918b8b">根目录不用填写,不建议安装在二级目录</font></td>
			</tr>
		</table>

</div>
<div class="button"><a href="javascript:document.form1.submit();">下一步</a> <a href="index.php?step=2">上一步</a></div>
				</div>
			</div>
			<div class="c_btm"></div>
		</div>
	</div>
</div>
</form>

<div style="display:none;">
<script language="JavaScript" type="text/javascript" charset="utf-8" src="//www.seacms.net/api/install.js"></script>
</div>	
</body>
</html>
