

/* pannel */
.stui-pannel-bg{background-color: #FFFFFF; border: 1px solid #EEEEEE;}

/* tabbar */
.stui_nav__taddar .item .icon,.stui_nav__taddar .item .title{ color: #999;}
.stui_nav__taddar .item.active .title,.stui_nav__taddar .item.active .icon{color: #FF9900;}
.stui_nav__taddar.fixed{ background-color: #FFFFFF;}

/* vodlist */
.stui-vodlist__bg{background-color: #FFFFFF; box-shadow: 0 1px 2px rgba(0,0,0,.05);}
.stui-vodlist__bg:hover{ box-shadow: 0 3px 5px rgba(0,0,0,.08);}

/* text-list */
.stui-vodlist__text.striped .striped-head,.stui-vodlist__text.to-color li:nth-of-type(odd){ background-color: #f5f5f5;}

/* link */
.stui-link__pic li a{ background-color: #FFFFFF; border: 1px solid #F5F5F5;}
.stui-link__pic li a:hover{ border: 1px solid #FF9900;}

/* screen */
.stui-screen__list li a{ color: #333333;}
.stui-screen__list li.active a{ background-color: #FF9900; color: #FFFFFF;}

/* playlist */
.stui-content__playlist li a{ border: 1px solid #EEEEEE;}
.stui-content__playlist li a:hover,.stui-content__playlist li.active a{ border: 1px solid #FF9900; background-color: #FF9900; color: #FFFFFF;}

/* player */
.stui-player__video{ background-color: #000000;}

/* page */
.stui-page li a,.stui-page li .num,.stui-page-text a,.stui-page-text em,.stui-page-text span{background-color: #FFFFFF; border: 1px solid #EEEEEE;}
.stui-page li a:hover,.stui-page li.active a,.stui-page li.active .num,.stui-page li.disabled a,.stui-page-text span.pagenow{ background-color: #FF9900; color: #FFFFFF; border: 1px solid #FF9900;}
.stui-page-text .pagego{ border: 1px solid #EEEEEE;}
.stui-page-text .pagebtn{background-color: #FFFFFF; border: 1px solid #EEEEEE;}

/* extra */
.stui-extra li a,.stui-extra li span{ background-color: #FFFFFF; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);}
.stui-extra li a.backtop{ background-color: rgba(0,0,0,0.6); color: #FFFFFF; }
.stui-extra li .sideslip{ background-color: #FFFFFF; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);}
.stui-extra li .sideslip:before{ background-color: #FFFFFF; border-color: rgba(0, 0, 0, 0.1);}

/* popup */
.popup{ background-color: #F8F8F8;}
.popup-head{ background-color: #FFFFFF;}

@media (max-width: 767px){
	
	/* form */
	.form-control{ background-color:#F8F8F8; color: #999999; border: 0;}
	
	/*pannel*/
	.stui-pannel-bg,.stui-vodlist__bg,.stui-vodlist__bg:hover{box-shadow: none;border: 0;}
	
	/* line */		
	.m-top-line:before{ border-top: 1px solid #EEEEEE;}
	.m-bottom-line:after{ border-bottom: 1px solid #EEEEEE;}
	.m-top-line-dot:before{ border-top: 1px dotted #EEEEEE;}
	.m-bottom-line-dot:before{ border-bottom: 1px dotted #EEEEEE;}
}